<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>red</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>green</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>blue</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>black</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>white</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>gray</key>
	<array>
		<real>0.5</real>
		<real>0.5</real>
		<real>0.5</real>
	</array>
	<key>grey</key>
	<array>
		<real>0.5</real>
		<real>0.5</real>
		<real>0.5</real>
	</array>
	<key>light gray</key>
	<array>
		<real>0.8</real>
		<real>0.8</real>
		<real>0.8</real>
	</array>
	<key>light grey</key>
	<array>
		<real>0.8</real>
		<real>0.8</real>
		<real>0.8</real>
	</array>
	<key>dark gray</key>
	<array>
		<real>0.25</real>
		<real>0.25</real>
		<real>0.25</real>
	</array>
	<key>dark grey</key>
	<array>
		<real>0.25</real>
		<real>0.25</real>
		<real>0.25</real>
	</array>
	<key>cyan</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>yellow</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>magenta</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>orange</key>
	<array>
		<integer>1</integer>
		<real>0.5</real>
		<integer>0</integer>
	</array>
	<key>purple</key>
	<array>
		<real>0.5</real>
		<integer>0</integer>
		<real>0.5</real>
	</array>
	<key>pink</key>
	<array>
		<integer>1</integer>
		<real>0.5</real>
		<real>0.65</real>
	</array>
	<key>brown</key>
	<array>
		<real>0.6</real>
		<real>0.4</real>
		<real>0.2</real>
	</array>
	<key>teal</key>
	<array>
		<integer>0</integer>
		<real>0.5</real>
		<real>0.5</real>
	</array>
</dict>
</plist>
